html{
    height: 100%;
    margin: auto;
}

body{
    background: linear-gradient(rgb(232, 229, 227), rgb(204,106,25));
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 64px;
    height: 64px;
    vertical-align: -16px;
}

a{
    text-decoration: none;
    padding: 15px;
    background-color: dodgerblue;
    color: bisque;
    margin:15px;
}

.navbar{
    width: 20%;
    padding: 5px;
    border: 7px rgb(0, 0, 0) solid;
    border-radius: 5px;
    background-color: gray;
    float: left;
    display: flex;
    flex-direction: column;
}

a:hover{
    background-color: deepskyblue;
    color: aliceblue;
    cursor: pointer;
}

.main-content{
    float: left;
    width: 840px;
    margin-left: 220px;
    border: 4px solid black;
    height: 800px;
}

h2{
    font-size: 1.9em;
    text-align: center;
}

.parrafo{
    text-align: center;
    float: left;
    background-color: green;
    margin: 5px 15px;           /* Los voy añadiendo los parrafos a la derecha con el margen establecido */
    padding: 10px;  
    color: white;             /* Lógicamente podría hacerse y muy probablemente más sencillamente con flexbox */
    font-size: 20px;
}   

.azul{
    background-color: cornflowerblue;
}

.amarillo{
    background-color: gold ;
}

.rojo{
    background-color: red;
}

iframe{
    margin: 40px 30px;
}